.textContainer {
  width: 100%;
  padding-bottom: 100px;
}

.textBox {
  border-radius: 20px;
  width: 1028px;
  height: 883px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  box-shadow: 0px 20px 100px -10px gray;
}

.textBox h1 {
  font-size: 60px;
}

.textBox h2 {
  font-size: 24px;
  font-weight: normal;
  color: #858a8f;
}

.textBox h3 {
  font-size: 24px;
}

.textBox p {
  font-size: 20px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backText {
  margin-left: 208px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  color: #397eff;
}

.backText h4 {
  padding-left: 10px;
}

.textBoxArea {
  width: 900px;
  height: 378px;
  line-height: 35px;
}
